.container{
    display: grid;
    grid-template-columns: repeat(24,20px);
    grid-template-rows: repeat(24,20px);
    justify-content: center;
}

.container div{
    background-color: #B0B0B0;
    transition: .2s;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.nemkattintott{
    background-color: #11df56;
    border-top-color:#25f76b;
    border-left-color:#25f76b;
    border-bottom-color:#049635;
    border-right-color:#049635;
    border-width: 3px;
    border-style: solid;
}

.container div:hover{
    background-color: #F0A0A0;
    border-top-color: #F0C0C0;
    border-left-color: #F0C0C0;
    border-bottom-color: #F04040;
    border-right-color: #F04040;
}